<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 1. Si la petición pide un archivo real que existe en la carpeta dist, servírselo
  RewriteCond %{DOCUMENT_ROOT}/dist/$1 -f
  RewriteRule ^(.*)$ dist/$1 [L]

  # 2. Si pide una carpeta real que existe en la carpeta dist, servírsela
  RewriteCond %{DOCUMENT_ROOT}/dist/$1 -d
  RewriteRule ^(.*)$ dist/$1 [L]

  # 3. Cualquier otra petición (para rutas internas de React como /equipo, /blog, etc.), enviarla a dist/index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ dist/index.html [L]
</IfModule>
